# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
typings

# Optional npm cache directory
.npm

# Source files
src/psd/**/*.psd
src/jpg/**/*.jpg
src/ai/**/*.ai

# IDE

.vscode/