.sin-page
    &__additional
        margin-bottom 30px

    &__date
        display flex
        flex-direction column
        margin-bottom 30px

    &__delete
        display inline-block
        padding 10px 20px
        text-transform uppercase
        font-weight 700
        border 1px solid #fff
        cursor pointer
        transition all $time-md
        background-color #000

        &:hover,
        &:focus
            color #000
            border-color #000
            background-color #fff