.sin-info
    margin 30px 0

    &__media
        display block
        float left
        max-width 50%
        margin-right 30px

    &__name
        margin-top 0

    &__circle
        display flex
        margin-bottom 20px
        
        &-label
            &::after
                content ':'
        
        &-value
            margin-left 5px