@import 'colors'
@import 'sizes'
@import 'libs'
@import 'time'
@import 'fonts'
@import 'paths'

*,
*::after,
*::before
  	box-sizing border-box

html
  	font-family 'Roboto', sans-serif

body
  	padding 20px