.icon
    &--home
        width 25px
        height 25px

    &--list
        width 25px
        height 25px

    &--add
        width 25px
        height 25px

    &--cross
        width 80px
        height 80px