$svg-symbols = {}

$svg-symbols.add = {};
$svg-symbols.add.width = 3.25rem
$svg-symbols.add.height = 3.25rem
$svg-symbols.add.ratio = 1
$svg-symbols.cross = {};
$svg-symbols.cross.width = 30.5rem
$svg-symbols.cross.height = 30.5rem
$svg-symbols.cross.ratio = 1
$svg-symbols.home = {};
$svg-symbols.home.width = 1.6875rem
$svg-symbols.home.height = 1.6875rem
$svg-symbols.home.ratio = 1
$svg-symbols.list = {};
$svg-symbols.list.width = 30.3125rem
$svg-symbols.list.height = 30.3125rem
$svg-symbols.list.ratio = 1