$svg-symbols = {}

$svg-symbols.star-filled = {};
$svg-symbols.star-filled.width = 3.4375rem
$svg-symbols.star-filled.height = 3.4375rem
$svg-symbols.star-filled.ratio = 1
$svg-symbols.star = {};
$svg-symbols.star.width = 30.4375rem
$svg-symbols.star.height = 30.4375rem
$svg-symbols.star.ratio = 1